html{
    height: 100%;
}

body {
    background-image: url("/images/bg-bottom.svg"), url("/images/bg-top.svg");
    background-position: bottom left, top right;
    background-repeat: no-repeat;
    background-color: hsl(240, 78%, 98%);
    color: hsl(232, 13%, 33%);
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

.container h1 {
    margin: 7vh 0 4vh 0;

}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin: 0 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background: white;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: 0.4s;
  }

input:checked + .slider {
    background: hsl(234, 14%, 74%);
}

input:focus + .slider {
    box-shadow: 0 0 1px hsl(232, 13%, 33%);
}

input:checked + .slider:before {
    transform: translateX(26px);
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
}

.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

h1 {
    font-size: 1.5rem;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.switch-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.card-child {
    background: white;
    border: 2px solid hsl(232, 13%, 33%);
    border-radius: 10px;
    padding: 2vh 0.5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    margin: 7vh auto;
    padding: 2vh 1vw;
}

.price-dollar {
    display: flex;
    align-items: center;
}

.price {
    display: inline-block;
}

.dollar {
    font-size: 1.8rem;
}

li {
    border-bottom: 1px solid lightgray;
    padding: 1vh 2vw;
    text-align: center;
}

li:first-child {
    border-top: 1px solid lightgray;
}

button {
    background: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    color: white;
    padding: 1.5vh 3vw;
    border-radius: 7px;
    font-weight: bold;
    border: none;
    margin: 2vh 0;
    cursor: pointer;
    border: 1px solid transparent;
}

.card h2 {
    font-size: 20px;
}

.card p{
    font-size: 2.6rem;
    padding: 2.5vh 0;
    color: hsl(232, 13%, 33%);
}

.card-child:nth-child(2) {
    background: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    color: white;
    margin: 4vh 0;
    padding: 4vh;
}

.card-child:nth-child(2) button {
    background: white;
    color:hsl(232, 13%, 33%);
    font-weight: bold;
}

.card-child:nth-child(2) p {
    color: white;
}

button:hover {
    background: transparent;
    color: hsl(232, 13%, 33%);
    border: 1px solid hsl(232, 13%, 33%);
}

.card-child:nth-child(2) button:hover {
    color: white;
    background: transparent;
    border: 1px solid white;
    font-weight: bold;
}

@media (max-width: 604px) {
    .card-child {
        margin: 4vh 3vw;
        padding: 4vh;
    }
}